.alt-header {
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--horizontal-space);
  top: 15px;
  width: 100%;
  box-sizing: border-box;
}

.alt-header__title {
  font-size: 28px;
  font-weight: 600;
}

.alt-header__column:first-child {
  margin-right: 40px;
}

.alt-header__color {
  background-color: rgb(171, 193, 209, 0.7);
}
