.screen-header {
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--horizontal-space);
  top: 20px;
  background-color: white;
  width: 100%;
  box-sizing: border-box;
}

.screen-header__title {
  font-size: 32px;
  font-weight: 600;
}

.screen-header__icons span {
  position: relative;
  margin-left: 25px;
}

.screen-header__dot {
  position: absolute;
  bottom: 25px;
  left: 70px;
}

.screen-header__dot2 {
  position: absolute;
  bottom: 25px;
  left: 120px;
}
