.screen-header {
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: var(--harizontal-space);
    top: 20px;
    background-color: white;
    width: 100%;
    box-sizing: border-box;
}

.screen-header__title {
    font-size: 32px;
    font-weight: 600;
}

.screen-header__icons span {
    margin-left: 25px;
}